/* klase selektori, može biti više istih klasa */
.treci {
    color: green;
}

/* element selector */
h2, p {
    color: blueviolet;
}

/* id selector, može biti samo jedan id */
#naslov {
    color: chocolate;
}

/* selektor koji se primjenjuje na sve */
* {
    background-color: aquamarine;
}

/* selektor s određenim atributom */
p[draggable="true"] {
    background-color: antiquewhite;
}