body {
    background-color: antiquewhite;
}
.lcr {
    width: 500px;
    height: 300px;
    background-color: #b32727;
    position: relative;
}
.lpl {
    width: 100%;
    height: 150px;
    background-color: #091063;
    position: absolute;
    top: 75px;
}
.lb {
    width: 100px;
    height: 100px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    top: 25px;
    left: 200px;
}
.ipl {
    width: 500px;
    height: 300px;
    background-color: #2a4c9c;
    position: relative;
}
.ib1 {
    height: 100%;
    width: 80px;
    background-color: white;
    position: absolute;
    left: 110px;
}
.ib2 {
    width: 100%;
    height: 80px;
    background-color: white;
    position: absolute;
    top: 110px;
}
.ic1 {
    width: 40px;
    height: 100%;
    background-color: #e01b1b;
    position: absolute;
    left: 130px;
}
.ic2 {
    width: 100%;
    height: 40px;
    background-color: #e01b1b;
    position: absolute;
    top: 130px;
}
.bg {
    width: 500px;
    height: 300px;
    background-color: #23878c;
    position: relative;
}
.by {
    width: 100%;
    height: 100px;
    background-color: #e3bc10;
    position: absolute;
    top: 100px;
}
.bb {
    width: 0px;
    height: 0px;
    position: absolute;
    border-left:220px solid black;
    border-top: 150px solid transparent;
    border-bottom: 150px solid transparent;
}
.bc {
    width: 450px;
    height: 300px;
    background-color: #b32727;
    position: relative;
}
.bbi {
    height: 100%;
    width: 100px;
    background-color: white;
    position: absolute;
}
.bt1 {
    width: 0px;
    height: 0px;
    position: absolute;
    left: 100px;
    border-left: 60px solid white;
    border-top: 30px solid transparent;
    border-bottom: 30px solid transparent;
}
.bt2 {
    width: 0px;
    height: 0px;
    position: absolute;
    left: 100px;
    top: 60px;
    border-left: 60px solid white;
    border-top: 30px solid transparent;
    border-bottom: 30px solid transparent;
}
.bt3 {
    width: 0px;
    height: 0px;
    position: absolute;
    left: 100px;
    top: 120px;
    border-left: 60px solid white;
    border-top: 30px solid transparent;
    border-bottom: 30px solid transparent;
}
.bt4 {
    width: 0px;
    height: 0px;
    position: absolute;
    left: 100px;
    top: 180px;
    border-left: 60px solid white;
    border-top: 30px solid transparent;
    border-bottom: 30px solid transparent;
}
.bt5 {
    width: 0px;
    height: 0px;
    position: absolute;
    left: 100px;
    top: 240px;
    border-left: 60px solid white;
    border-top: 30px solid transparent;
    border-bottom: 30px solid transparent;
}
.zvijezda {
    width: 200px;
    height: 200px;
    background-color: gold;
    clip-path: polygon(
        50% 0%,
        61% 35%,
        98% 35%,
        68% 57%,
        79% 91%,
        50% 70%,
        21% 91%,
        32% 57%,
        2% 35%,
        39% 35%
    );
}
.kg {
    width: 500px;
    height: 300px;
    background-color: #007A5E;
    position: relative;
}
.kc {
    height: 100%;
    width: 332px;
    background-color: #CE1126;
    position: absolute;
    left: 168px;
}
.ky {
    height: 100%;
    width: 166px;
    background-color: #FCD116;
    position: absolute;
    left: 334px;
}
.kzvi {
    width: 80px;
    height: 80px;
    background-color: #FCD116;
    clip-path: polygon(
        50% 0%,
        61% 35%,
        98% 35%,
        68% 57%,
        79% 91%,
        50% 70%,
        21% 91%,
        32% 57%,
        2% 35%,
        39% 35%
    );
    position: absolute;
    left: 43px;
    top: 110px;
}
.tc {
    width: 500px;
    height: 300px;
    background-color: #CE1126;
    position: relative;
}
.tbk {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: white;
    position: absolute;
    left: 100px;
    top: 50px;
}
.tck {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    background-color: #CE1126;
    position: absolute;
    left: 50px;
    top: 20px;
}
.tzvi {
    width: 80px;
    height: 80px;
    background-color: white;
    clip-path: polygon(
        50% 0%,
        61% 35%,
        98% 35%,
        68% 57%,
        79% 91%,
        50% 70%,
        21% 91%,
        32% 57%,
        2% 35%,
        39% 35%
    );
    transform: rotate(-20deg);
    position: absolute;
    left: 280px;
    top: 110px;
}
