body {
    background-color: black;
}
div {
    width: 50%;
    margin-left: 25%;
    margin-top: 100px;
}
img {
    border: 5px solid white;
    width: 100%;
}
h1 {
    font-family: "Libre Baskerville", serif;
    text-transform: uppercase;
    color: white;
    text-align: center;
    font-size: 50px;
}
p {
    color: white;
    text-align: center;
    font-size: 25px;
}
