img {
    width: 200px;
    height: 200px;
}
.color-title {
    font-weight: normal;
}
#red {
    color: red;
}
#blue {
    color: blue;
}
#orange {
    color: orange;
}
#green {
    color: green;
}
#yellow {
    color: yellow;
}
h1 {
    /* color: #1469b9; */
    /* color: rgb(20, 88, 66); */
    /* color: hsl(300, 52%, 41%); */
    color: rgba(20, 88, 66, 0.5);
}