.back {
    width: 420px;
    height: 320px;
    background-color: black;
    position: relative;
}
.bg {
    width: 400px;
    height: 300px;
    background-color: #498488;
    position: absolute;
    left: 10px;
    top: 10px;
}
.dp {
    width: 240px;
    height: 140px;
    background-color: #D99795;
    position: absolute;
    left: 80px;
    top: 80px;
}
.lp {
    width: 100%;
    height: 20px;
    background-color: #D9D9D9;
}
.k1 {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    background-color: #498488;
    position: absolute;
    left: 20px;
    top: 160px;
}
.k2 {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    background-color: #498488;
    position: absolute;
    left: 250px;
    top: 160px;
}
.im {
    position: absolute;
    left: 500px;
    top: 33px;
    font-family: Arial, Helvetica, sans-serif;
}
.bv {
    width: 500px;
    height: 300px;
    background-color: black;
    position: relative;
}
.bgv {
    width: 490px;
    height: 290px;
    background-color: white;
    position: absolute;
    left: 5px;
    top: 5px;
}
.img1 {
    width: 170px;
    border-radius: 50%;
    position: absolute;
    left: 25px;
    top: 52px;
}
.ime {
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    left: 255px;
    top: 15px;
}
.p1 {
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    left: 230px;
    top: 70px;
}
.p2 {
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    left: 250px;
    top: 180px;
}
.p3 {
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    left: 360px;
    top: 180px;
}